@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Original Surfer", cursive;
  background: #f5f4f4;
  color: rgb(0, 0, 0);
}
p {
  font-size: larger;
}
h1 {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.main {
  width: 500px;
  margin: auto;
  padding: 40px;
  margin-top: 20px;
}
.main p {
  padding-top: 10px;
  padding-bottom: 10px;
}
footer {
  padding: 10px;
}
hr {
  height: 2px;
  background-color: #ccbfbe;
  border-color: #ccbfbe;
}

.social{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
